<configuration>
    <connectionStrings>
    <add name="ClientScheduleDb"
         connectionString="Driver={MySQL ODBC 8.0 Driver};Server=127.0.0.1;Port=3306;Database=client_schedule;User=sqlUser;Password=Passw0rd!;"
         providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>
